<div>
    <h1>Register</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="nombre">
        <br />
        <label>Apellido</label>
        <input name="apellido">
        <br />
        <label>Email</label>
        <input name="email">
        <br />
        <label>Edad</label>
        <input name="edad">
        <br />
        <label>Contraseña</label>
        <input name="contraseña">
        <br />

        <input type="submit">
    </form>
    <p>Si ya tenes una cuenta: <a href="/"> Ingrese aqui</a></p>
</div>

<script src="/js/register.js"></script>