<div id = "data">
<p>Name: {{this.name}}</p>
<p>Last Name: {{this.lastName}}</p>
<p>Age: {{this.age}}</p>
<p>email: {{this.email}}</p>
</div>
<button id="irAProductos">ir a productos</button>

<script src="/js/usuario.js"></script>
